body {
    background-color: #022d96;
    background-size:cover;
}
.container {
    margin-top: 2.5rem
}

.production_head {
    border: 4px double;
    border-radius: 28px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}

.label-date {
    font-weight: 700;
}

.inputdata {
    width: 10rem;
    height: 2.2rem;
    border: 3px solid grey;
}

.shift {
    margin-top: 1rem;
}

.mg_bottom {
    margin-bottom:0.5rem;
}

.show-btn {
    border-radius: 14px;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 24px;
    background-color: black;
    color: white;
}
    .show-btn:hover {
        background-color: black;
        color: aqua;
        border-color: aqua;
    }
    .card {
        color: white;
        background-color: #fff0;
    }